// variable
// @import 'main/variables';
// @import 'main/mixins', 'main/functions';
// @import 'elements/panel', 'elements/test', 'elements/boxes';

%title {
  color: red;
  font-size: 2rem;
}

.title-small {
  font-size: 0.5rem;
}
